.w3-row-padding {
    padding: 10px 8px
}

.w3-margin-bottom {
    margin-bottom: 16px !important
}

.w3-quarter {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.w3-red {
    color: #fff !important;
    background-color: #f44336 !important
}

.w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}
.table-border{
    border:2px solid black;
}
.table-border th,td{
    border: 1px solid black;
}
